*{
margin: 0;
padding: 0;
}
.wrapper{
width: 1170px;
margin: auto;
}
header{
background: url("try.jpg");
height: 100vh;
-webkit-background-size:cover;
background-size:cover;
background-position: center center;
position: relative;
}
.nav-area{
float: right;
list-style: none;
margin-top: 30px;
}
.nav-area li{
display: inline-block;
}
.nav-area li a{
color: black;
text-decoration: none;
padding: 5px 20px;
font-family: poppins;
font-size: 14px;
}
.nav-area li a:hover{
background: #fff;
color: #333;
}
.logo img{
width: 100px;
float: left;
height:auto;
}
.welcome-text{
position: absolute;
float: right;
width: 500px;
bottom: 50%;
height: 200px;
margine: 20% 30%;
text-align: center:
}
.welcome-text h1{
text-align: center;
color: #6a0dad;
text-transform: uppercase;
font-size: 40px;
float: 40%;
}
div{
text-align: center;
}
div h1{
text-align: center;
float: right;
}



